
.frontpage{
    
    margin: 0 -17px 0 -16px;
    position: relative;
    display: grid;
}
.fp-cell {
    padding: 16px;
    border-right: 1px solid #DADCE0;
    border-bottom: 1px solid #DADCE0;
  }
  .fp-cell--1 {
    grid-row: 1 / span 2;
  }
  
  .fp-cell--2 {
    grid-row: 3 / span 2;
  }
  
  .fp-cell--3 {
    grid-column: 2;
  }
  .fp-cell--5 {
    grid-row: 1 / span 2;
    grid-column: 4 ;
  }
  .fp-cell--6 {
    grid-row: 3 / span 2;
    grid-column: 4;
  }
  .fp-cell--7 {
    grid-row: 1 ;
    grid-column: 2 /span 2;
    align-content: center;
  }
 
 
.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: capitalize;

}
  
.logo{
    box-sizing: border-box;
    position:absolute;
	left: 550px;
    height: 150px;
    width: 170px;
   
}
.icon-bar{
    background: darkcyan;
}
li a{
    color: black;
    left: 50px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropbtn{
    font-size: 24px;
    font-weight: 900;
    margin-top: -8px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: orange;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .img{
  
    min-height: 200px;
    height: 100%;
    padding: 16px;
  }
